<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="{% url 'new_predict'%}"> Go Back</a>
  <a href="{% url 'match' %}">Match Students</a>
  
<h1>Passed Students</h1>
<ol>
  {% for students in PassStudents %}
  <li>{{ students }} </li>
  {% endfor %}
</ol>

<h1>Failed Students</h1>
<ol>
  {% for students in FailStudents %}
  <li>{{ students }} </li>
  {% endfor %}
</ol>


</body>
</html>